*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/DerivedData/
**/Pods/
**/.symlinks/

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3


# XCode related
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# Miscellaneous
.DS_Store

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
*.xcworkspace

# Code Injection
iOSInjectionProject/

# Lockfiles
Podfile.lock

# Flutter
**/dgph
**/*sync/
**/.vagrant/
**/.symlinks/
**/.generated/
.sconsign.dblite
.tags*
Icon?
profile
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*
